*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --inflow: green;
  --outflow: red;
  --main: rgb(0, 0, 0);
  --buttons: rgb(48 45 46);
  --text: white;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main);
  color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

ul{
  list-style: none;  
}

input, li, h2{
    margin: .5rem;
}

h1{
    margin-bottom: 2.2rem;
}

.buttons{
    display: flex;
    border-radius: 50px;
}

input[type="button"]{
    padding: .8rem;
    color: inherit;
    background-color: var(--buttons);
}

#amount-input,
#amount-input:focus{
    width: 20rem;
    padding: 1rem .5rem;
    outline: 0;
}

#amount-input, input[type="button"]{
    border-radius: 5px;
    border-style: none;
}